{%- if settings.show_announcement_bar -%}
  <div
    class="text-block"
    style="
      {% if settings.enable_announcement_shadow %}
      box-shadow: 4px 4px 4px rgba(0.3, 0, 0, 0.3);
      {% endif %}
      {% if settings.enable_large_announcement_bar %}
      height: 52px;
      {% endif %}
      display: sticky;
      align-items: center;
      justify-content: center;
      {% if settings.enable_announcement_floater %}
        {% if template == 'index' %}
        position: absolute !important;
        left: 50%;
        transform: translateX(-50%);
        {% endif %}
        {% if template != 'collection' or settings.collection_style != "sidebar_collection" %}
        width: 92%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        {% endif %}
      {% endif %}
      position: relative;
      {% if settings.enable_moving_announcement == false %}
      text-align: center;
      {% endif %}
      font-size: {{ settings.announcement_text_size }}px;
      background-color:
        {% if template == 'index' %}
          {{ settings.announcement_background_color_home_page }};
        {% elsif template == 'collection' %}
          {{ settings.announcement_background_color_collection_page }};
        {% elsif template == 'product' %}
          {{ settings.announcement_background_color_product_page }};
        {% else %}
          {{ settings.announcement_background_color }};
        {% endif %}
      color:
        {% if template == 'index' %}
          {{ settings.announement-text-color-home-page }};
        {% elsif template == 'collection' %}
          {{ settings.announement-text-color-collection-page }};
        {% elsif template == 'product' %}
          {{ settings.announement-text-color-product-page }};
        {% else %}
          {{ settings.announement-text-color }};
        {% endif %}
      border-radius: 24px;
    "
  >
    <p
      {% if settings.enable_moving_announcement %}
        class="marquee"
      {% endif %}
      style="margin-bottom: 0; --moving-scroll-speed: {{ settings.moving_txt_speed }}s;"
    >
      <span>{{ settings.announcement_text }}</span>
    </p>
  </div>
{%- endif -%}
